---
layout: default
title: Home
---
 
 <div class="posts">
   {% for post in paginator.posts %}
   <article class="post">
     <h1 class="post-title">
       <a href="{{ site.baseurl }}{{ post.url }}">
         {{ post.title }}
       </a>
     </h1>  
     {{ post.content | split:'<!--break-->' | first }}
 		{% if post.content contains '<!--break-->' %}
       <a href="{{ post.url }}"></br></br>Read more</a>
 		{% endif %}
    </article>
    {% endfor %}
    <a href="{{ site.baseurl }}/about.html" title="About">Past months are here</a>
  </div>
