---
layout: default
title: Home
---
 <div class="masthead">
  <h1 class="post-title">
   Hello!
  </h1>
  Follow the links above to follow me on the web. Below are some of my favourite things for this month.</br> 
  Send me an <a href="mailto:me@humanboring.net">email</a> if you have any comments.</br>
 😊
 </div>
 
 <div class="posts">
   {% for post in paginator.posts %}
   <article class="post">
     <h1 class="post-title">
       <a href="{{ site.baseurl }}{{ post.url }}">
         {{ post.title }}
       </a>
     </h1>  
     {{ post.content | split:'<!--break-->' | first }}
 		{% if post.content contains '<!--break-->' %}
     <a href="{{ post.url }}"></br></br>Read more</a>
 		{% endif %}
    </article>
    {% endfor %}
  </div>
  
  <div class="masthead">
   <a href="{{ site.baseurl }}/archive.html" title="Archive">Past months are here</a>
  </div>
