// Masthead
//
// Super small header above the content for site name and short description.
.masthead-box-jan{
 background-color: $january; 
 box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
}
.masthead-box-feb{
 background-color: $february;
 box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
}
.masthead-box-mar{
 background-color: $march;
 box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
}
.masthead-box-apr{
 background-color: $april;
 box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
}
.masthead-box-may{
 background-color: $may; 
 box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
}
.masthead-box-jun{
 background-color: $june;   
 box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
}
.masthead-box-jul{
 background-color: $july;   
 box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
}
.masthead-box-aug{
 background-color: $august;  
 box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
}
.masthead-box-sep{
 background-color: $september;
 box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
}
.masthead-box-oct{
 background-color: $october;
 box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
}
.masthead-box-nov{
 background-color: $november;  
 box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
}
.masthead-box-dec{
 background-color: $december;   
 box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
}
.masthead {
  padding-top:    1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;

}

.masthead-title {
  padding-right: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  color: #f9f9f9;

  a {
    color: #f9f9f9;
  }

  small {
  	padding-left: 1rem;
    font-size: 75%;
    font-weight: 400;
    color: #f9f9f9;
  }
   subhead {
    color: inherit; 
    font-size: 1rem;
    font-weight: 400;
    }
}